{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "assets/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Nawer</h1>
                            <span class="subheading">Cloud & Network Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'posts:post-detail' slug=post.slug%}">
                        <img class="img-thumbnail" src={{ post.thumbnail.url }}/>
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.content| safe | truncatewords:30 }}...</h3>
                        </a>
                        <p class="post-meta">
                            {% if post.is_published == False %} NOT {% endif %}Publié par
                            <a href=""><i>{{ post.author_or_default }}</i></a>
                            le {{ post.created_at|date:' j F Y' }}
                        </p>
                {% if request.user.is_authenticated %}
                    <div>
                        <a href="{% url 'posts:blog-edit' slug=post.slug %}">Edit</a>
                        <a href="{% url 'posts:blog-delete' slug=post.slug %}">Delete</a>
                    </div>
                {% endif %}
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <!---<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Voir tous →</a></div>-->
                </div>
            </div>
        </div>
{% endblock %}