{% load static %}
<!DOCTYPE html> 
<html lang="fr"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>BTP - {% block title %}{% endblock %}</title> 
    <!-- CSS and JS files go here --> 
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> 
<body> 
    {% include 'navbar.html' %}
    <section id="blog">
        {% block content %}
        {% endblock %}
    </section>
    {% include 'footer.html' %}
</body> 
</html>